Repository twosixlabs/armory, pull requests merged in 2020-04, with the labels that each got.

#327 ArmoryDataGenerator implements iterator interface
  armory/data/datasets.py
  tests/test_docker/test_dataset.py
Labels: APIs, datasets

#339 Standardize on using pytest
  tests/test_docker/test_dataset.py
  tests/test_docker/test_supported_datasets.py
  tests/test_docker/test_weight_download.py
  tests/test_host/test_config_verification.py
  tests/test_host/test_external_repo.py
  tests/test_pytorch/test_pytorch_models.py
  tests/test_tf1/test_keras_models.py
  tests/test_tf1/test_tf1_models.py
  tests/test_tf2/test_tf2_models.py
Labels: test cases

#393 Add faq docs
  README.md
  docs/faqs.md
Labels: documentation

#395 Add additional documentation info
  README.md
Labels: documentation

#404 minor logging bug due to config change
  armory/eval/evaluator.py
Labels: user facing

#397 Metrics refactor
  armory/scenarios/configs/cifar10_baseline.json
  armory/scenarios/image_classification.py
  armory/utils/metrics.py
  tests/test_docker/test_metrics.py
Labels: scenarios

#402 Ucf metrics
  armory/scenarios/configs/ucf101_baseline_finetune.json
  armory/scenarios/configs/ucf101_baseline_pretrained.json
  armory/scenarios/ucf101.py
  armory/utils/metrics.py
Labels: scenarios

#409 clean up fit function for UCF
  armory/scenarios/ucf101.py
Labels: scenarios

#307 Download data update
  armory/__main__.py
  armory/data/datasets.py
  armory/data/model_weights.py
  armory/data/utils.py
  armory/scenarios/download_configs/scenarios-set1.json
Labels: datasets

#425 Update weight file paths
  armory/scenarios/download_configs/scenarios-set1.json
Labels: datasets

#394 Scenario documentation
  docs/scenarios.md
Labels: documentation

#464 Smaller docker images
  docker/Dockerfile
  docker/pytorch-dev/Dockerfile
  docker/pytorch/Dockerfile
  docker/tf1-dev/Dockerfile
  docker/tf1/Dockerfile
  docker/tf2-dev/Dockerfile
  docker/tf2/Dockerfile
Labels: docker

#486 updated docker docs for interactive usage
  docs/docker.md
Labels: bug, documentation

#477 Updated docker release process
  .github/workflows/release.yml
  docker/build-dev.sh
  docker/build.sh
Labels: docker
