Repository twosixlabs/armory, pull requests merged in 2020-05, with the labels that each got.

#534 update flake8
  armory/__init__.py
  armory/eval/evaluator.py
  armory/scenarios/audio_classification.py
  armory/scenarios/image_classification.py
  armory/scenarios/poisoning_gtsrb_scenario.py
  armory/scenarios/video_ucf101_scenario.py
  armory/utils/config_loading.py
Labels: bug

#552 Docs update for armory run --interactive
  README.md
  docs/index.md
Labels: documentation

#569 Download no docker
  armory/__main__.py
  armory/data/model_weights.py
  armory/paths.py
  armory/scenarios/base.py
  docs/docker.md
Labels: refactor

#580 Remove budget from configuration files
  scenario_configs/librispeech_baseline_sincnet.json
  scenario_configs/librispeech_baseline_sincnet_adversarial.json
  scenario_configs/librispeech_spectrogram_external_repo.json
  scenario_configs/resisc45_baseline_densenet121_adversarial.json
  scenario_configs/ucf101_baseline_adversarial.json
  scenario_configs/ucf101_baseline_finetune.json
  scenario_configs/ucf101_baseline_pretrained.json
  tests/scenarios/broken/invalid_module.json
Labels: configuration files

#576 Imagenet adversarial paired samples
  armory/data/adversarial/imagenet_adversarial.py
  armory/data/adversarial_datasets.py
  armory/data/cached_s3_checksums/imagenet_adversarial.txt
  tests/test_docker/test_dataset.py
  tests/test_tf1/test_keras_models.py
Labels: datasets

#586 Poisoning scenario: update randomization
  armory/scenarios/poisoning_gtsrb_scenario.py
Labels: scenarios

#573 SNR perturbation metrics
  armory/utils/metrics.py
  tests/test_docker/test_metrics.py
Labels: metrics

#568 RESISC45 attacks in png format
  armory/data/adversarial/resisc45_densenet121_univpatch_and_univperturbation_adversarial_224x224.py
  armory/data/adversarial_datasets.py
  armory/data/cached_s3_checksums/resisc45_densenet121_univpatch_and_univperturbation_adversarial224x224.txt
  armory/data/url_checksums/resisc45_densenet121_univpatch_and_univperturbation_adversarial_224x224.txt
Labels: datasets
