Repository twosixlabs/armory, pull requests merged in 2020-03, with the labels that each got.

#225 contribute
  CONTRIBUTING.md
Labels: documentation

#232 Introduce generators for datasets
  armory/baseline_models/keras/keras_cifar.py
  armory/baseline_models/keras/keras_mnist.py
  armory/data/datasets.py
  armory/utils/config_loading.py
  tests/test_config_verification.py
  tests/test_configs/fgm_attack_test.json
  tests/test_configs/missing_eval.json
  tests/test_dataset.py
  tests/test_evals/__init__.py
  tests/test_evals/fgm_attack.py
Labels: datasets

#231 Master dev
  .github/workflows/ci_test.yml
  CONTRIBUTING.md
  Dockerfile
  README.md
  armory/__init__.py
  armory/__main__.py
  armory/docker/images.py
  docker/Dockerfile
  docker/build-dev-minimal.sh
  docker/build-dev.sh
  docker/build.sh
  docker/pytorch-dev/Dockerfile
  docker/pytorch/Dockerfile
  docker/tf1-dev/Dockerfile
  docker/tf1/Dockerfile
  docker/tf2-dev/Dockerfile
  docker/tf2/Dockerfile
  tests/test_configs/fgm_attack_test.json
Labels: docker

#236 Dockerfile base updated for new datasets
  docker/Dockerfile
Labels: datasets, docker

#234 Resisc45 generator
  armory/data/datasets.py
  armory/data/resisc45/__init__.py
  armory/data/resisc45/resisc45_dataset_partition.py
  armory/data/resisc45/resisc45_split.py
  armory/data/tfds_checksum.py
  armory/data/url_checksums/resisc45_split.txt
  armory/data/utils.py
  tests/test_dataset.py
Labels: datasets

#237 Librispeech
  armory/data/datasets.py
  armory/data/librispeech/__init__.py
  armory/data/librispeech/librispeech_split.py
  armory/data/url_checksums/librispeech_split.txt
  test-requirements.txt
  tests/test_dataset.py
Labels: datasets

#245 Ucf101 save
  armory/data/datasets.py
  tests/test_dataset.py
Labels: datasets

#248 updated digit to use generators
  armory/data/datasets.py
  tests/test_dataset.py
Labels: datasets

#250 German traffic sign generator
  armory/data/datasets.py
  tests/test_dataset.py
Labels: datasets

#249 Imagenet adv generator
  armory/baseline_models/keras/keras_cifar.py
  armory/baseline_models/keras/keras_inception_resnet_v2.py
  armory/baseline_models/keras/keras_mnist.py
  armory/baseline_models/keras/keras_resnet50.py
  armory/data/datasets.py
  tests/test_dataset.py
Labels: datasets

#252 Docker test rebase rebase
  .github/workflows/ci_test.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  docker/Dockerfile
  test-requirements.txt
  tests/test_dataset.py
  tests/test_host/__init__.py
  tests/test_host/test_docker_management.py
Labels: docker, test cases

#259 baseline scenario for resisc45
  armory/baseline_models/keras/keras_resisc45.py
  tests/test_configs/resisc45_scenario_baseline.json
  tests/test_evals/resisc45_scenario.py
Labels: scenarios

#265 Refactor librispeech rebase
  armory/data/datasets.py
  armory/data/librispeech/librispeech_dev_clean_split.py
  armory/data/url_checksums/librispeech_dev_clean_split.txt
  tests/test_docker/test_dataset.py
Labels: datasets, refactor

#272 Add pytorch mnist model
  armory/baseline_models/pytorch/pytorch_mnist.py
  tests/test_pytorch/test_pytorch_models.py
  tests/test_tf1/test_keras_models.py
Labels: baseline models

#273 Add pytorch cifar model
  armory/baseline_models/pytorch/pytorch_cifar.py
  tests/test_pytorch/test_pytorch_models.py
Labels: baseline models

#271 Docker launch test
  armory/__main__.py
  armory/eval/evaluator.py
Labels: docker, user facing

#277 Multiple container
  armory/docker/management.py
  armory/docker/volumes_util.py
  armory/eval/evaluator.py
  armory/paths.py
  armory/utils/external_repo.py
  tests/test_host/test_external_repo.py
Labels: docker

#283 update datasets for variable length input
  armory/data/datasets.py
  tests/test_docker/test_dataset.py
Labels: APIs, datasets

#296 path fix
  armory/eval/evaluator.py
Labels: bug

#305 German tfds
  armory/data/datasets.py
  armory/data/german_traffic_sign/__init__.py
  armory/data/german_traffic_sign/german_traffic_sign.py
  armory/data/url_checksums/german_traffic_sign.txt
Labels: datasets

#306 label class update from Hiro
  armory/data/librispeech/librispeech_dev_clean_split.py
Labels: datasets

#313 Tfds digit rebase extra
  armory/data/README.md
  armory/data/datasets.py
  armory/data/digit/__init__.py
  armory/data/digit/digit.py
  armory/data/url_checksums/digit.txt
Labels: datasets

#312 Adversarial tfds rebase
  armory/data/README.md
  armory/data/adversarial/__init__.py
  armory/data/adversarial/imagenet_adversarial.py
  armory/data/datasets.py
  armory/data/url_checksums/imagenet_adversarial.txt
Labels: datasets

#323 Verify download if cache .tar.gz file exists
  armory/data/utils.py
Labels: datasets

#325 Path caching
  armory/paths.py
Labels: refactor

#326 Extend tfrecord cache to all datasets
  armory/data/cached_s3_checksums/cifar10.txt
  armory/data/cached_s3_checksums/digit.txt
  armory/data/cached_s3_checksums/german_traffic_sign.txt
  armory/data/cached_s3_checksums/imagenet_adversarial.txt
  armory/data/cached_s3_checksums/imagenette.txt
  armory/data/cached_s3_checksums/mnist.txt
  armory/data/datasets.py
Labels: datasets
