Repository twosixlabs/armory, pull requests merged in 2020-02, with the labels that each got.

#153 DOC: Fix schema specification
  examples/README.md
Labels: documentation

#163 Enable a cached dataset directory
  armory/paths.py
Labels: configuration files

#162 Mount volumes as host user
  armory/baseline_models/pytorch/imagenet.py
  armory/data/datasets.py
  armory/docker/management.py
  armory/eval/evaluator.py
  armory/eval_scripts/carlini_wagner_attack_targeted.py
  armory/eval_scripts/fgm_attack.py
  armory/eval_scripts/fgm_attack_binary_search.py
  armory/eval_scripts/poisoning_attack_backdoor.py
  armory/eval_scripts/transfer_attack.py
  armory/paths.py
  armory/utils/external_repo.py
  tests/test_dataset.py
  tests/test_external_repo.py
Labels: docker

#164 Fix import structure for top level imports
  armory/__init__.py
  armory/art_experimental/__init__.py
  armory/art_experimental/attacks/poisoning_attack_backdoor.py
  armory/data/__init__.py
  armory/docker/__init__.py
  armory/eval/__init__.py
  armory/utils/__init__.py
Labels: refactor

#206 Update to RGB adversarial dataset
  armory/data/datasets.py
  tests/test_dataset.py
Labels: datasets

#207 Update docker
  Dockerfile
Labels: docker

#208 Lint yaml files, add linter to pre-commit tool
  .github/workflows/ci_test.yml
  .github/workflows/release.yml
  .yamllint
  STYLE.md
  test-requirements.txt
  tools/pre-commit.sh
Labels: test cases
